{% extends "layout.html" %}

{% block title %}
    Compare
{% endblock %}

{% block main %}
    <h1>Error</h1>

    {% if error == 'sameteam' %}
        <h2>Please choose different teams</h2>
    {% else %}
        {% if error == 'noteam' %}
            <h2>Please choose valid team(s)</h2>
        {% else %}
            {% if error == 'noleague' %}
                <h2>Please choose a valid League</h2>
            {% else %}
                <h2>Unidentified Error. Please try again</h2>
            {% endif %}
        {% endif %}
    {% endif %}
<a href="/" class="btn btn-warning">Go Back!</a>

{% endblock %}
