{% extends "layout.html" %}

{% block title %}
    Simulate
{% endblock %}

{% block main %}
    <h1>{{team1}} {{result[0]}} x {{result[1]}} {{team2}}</h1>
    <br>
    <form method="get" action="/simulate">
        <button type="submit" class="btn btn-warning">Try Again</button>
    </form>
    <br>
    <footer font-size: 1px class="small text-center text-muted">
                Remember: soccer is unpredictable, don't use this result for betting.
    </footer>



{% endblock %}
